<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Others</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/EvaluatorSidebarJS.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/TaSidebar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/adminnavbar.js"
      type="text/javascript"
    ></script>
  </head>

  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>
    <ta-sidebar-component></ta-sidebar-component>
    <admin-sidebar-component></admin-sidebar-component>
    <coordinator-sidebar-component></coordinator-sidebar-component>

    <div id="viewport">
      <!-- Content -->
      <div style="margin-top: 70px" class="container">
        <ul>
          <li>
            Summer Training Grade Form
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/internal/SummerTrainingGradeForm_v4.0.pdf"
              class="btn btn-primary"
              >PDF</a
            >
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/internal/SummerTrainingGradeForm_v4.0.docx"
              class="btn btn-primary"
              >Word</a
            >
          </li>
          <li>
            Summer Training Guidelines:
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/current/Guidelines_v3.1.pdf"
              class="btn btn-primary"
              >Guidelines</a
            >
          </li>
          <li>
            Report Template:
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/current/Report-Template-v4.0.dotx"
              class="btn btn-primary"
              >in Word Open XML Document Template</a
            >
          </li>
          <li>
            Technical Writing Style:
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/current/TechnicalWritingStyle.doc"
              class="btn btn-primary"
              >in MS Word format</a
            >
          </li>
          <li>
            Summer Training System:
            <a href="http://mfstaj.cs.bilkent.edu.tr/" class="btn btn-primary"
              >mfstaj</a
            >
          </li>
          <li>
            Seminar Slides:
            <a
              href="http://www.cs.bilkent.edu.tr/~staj/current/Seminar-Slides-v3.2.pptx"
              class="btn btn-primary"
              >PDF</a
            >
          </li>
          <li>
            Reaching to Coordinators (after checking FAQ):staj@cs.bilkent.edu.tr
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
