<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coordinators</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />
    <!-- JS -->
    <script src="/js/Profile/profile.js" type="text/javascript" defer></script>
    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/Profile/StyleProfile.css"
    />
    <!-- Components -->

    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/EvaluatorSidebarJS.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/TaSidebar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
    <style>
      .btn.btn-primary,
      .btn.btn-danger {
        margin-top: 15px;
        color: lightgray;
        background: black;
        padding: 0.35em 0.5em 0.35em 0.5em;
        border-radius: 0.3em;
        border-color: #0f1010;
      }

      .btn.btn-primary:hover,
      .btn.btn-danger:hover {
        /* Add hover styles here */
        background-color: #999999;
        /* Add other hover styles as needed */
      }

    </style>
  </head>

  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>
    <ta-sidebar-component></ta-sidebar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>
    <admin-sidebar-component></admin-sidebar-component>

    <div id="viewport">
      <!-- Content -->
      <div class="container">
        <h1>User Profile</h1>
        <div class="profile">
          <img src="/assets/profile_p.png" alt="Profile Picture" />
          <div class="info">
            <label>Full Name:</label>
            <input type="text" class="fullname" />
          </div>
          <div class="info">
            <label>Email:</label>
            <input type="text" class="email" />
          </div>
        </div>
        <div>
          <button class="btn btn-primary edit-profile" onclick="editProfile()">
            Edit Profile
          </button>
          <button
                  class="btn save-profile"
                  style="display: none"
                  onclick="saveProfile()"
          >
            Save Profile
          </button>
          <p class="save-profile-response"></p>
        </div>
        <div class="password-section">
          <h3>Change Password</h3>
          <form>
            <label for="currentPassword">Current Password:</label>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              required
            />
            <label for="newPassword">New Password:</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              required
            />
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
            <div class="actions">
              <button class="btn btn-primary">Change Password</button>
            </div>
          </form>
        </div>
      </div>
      <div class="resume col">
        <p>Current Resume: <span class="current-resume"></span></p>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          id="view-resume"
        >
          View Current Resume
        </button>
        <button class="btn btn-danger" id="delete-resume">
          Delete Current Resume
        </button>
      </div>
      <div class="col mt-5">
        <input type="file" id="resume-input" accept=".pdf" />

        <button class="btn btn-primary" id="upload-resume">
          Upload Resume
        </button>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal w-100 h-100 fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable h-100 d-flex flex-column"
        role="document"
      >
        <div class="modal-content w-100 h-100">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your Resume</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
