<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseDescriptions</title>
    <link rel="stylesheet" href="CourseDescriptions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-s1y7J05cB0Npr7VxTJ0ZmxYzZMvq3f+V8HDXDyJ7mE1v2AsmHtP+Gg6c0Z/5/5RbUB5A5/aZeNbjFy+mB0pJNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- NAVIGATION MENUS -->
    <div class="topnav">
        <a class="logo">Bilkent Internship System</a>
        <div class="topnav-right">
            <!--TODO-->
            <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\homePages\Home.html">Home</a>
            <a href="#Announcement">Announcement</a>
            <a href="#Contact">Contact</a>
            <a href="#Language">Language</a>
        </div>
    </div>


    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <ul class="nav">
                <li>
                    <a
                        href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentHomePage\StudentHomePage.html">
                        <i class="zmdi zmdi-view-dashboard"></i> Main Menu
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-link"></i> Course Descriptions
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-widgets"></i> Courses
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-calendar"></i> Announcements
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-info-outline"></i> Summer Training Cooridnators
                    </a>
                </li>
                <li>
                    <a
                      href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentReportsPage\StudentUploadReport.html">
                      <i class="zmdi zmdi-comment-more"></i> View Students List / <br> /Give Feedback / Grade Student
                    </a>
                  </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-comment-more"></i> Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i> Other
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- Content -->
    <div class="container">

        
        <div class = "descriptonInfo">
        <h1>CS299 <br>Summer Training I Description: </h1>
        <p>Description:
            Conducted in a company setting with involvement in real projects for a minimum of four weeks (20 working days). Application of knowledge and skills learned at school to solve engineering problems related to computer systems in the real-world. Familiarization with professional and ethical responsibility while working in multidisciplinary teams. Understanding the impact of engineering solutions in a global, economic, environmental and societal context. Learning to find relevant resources to access information. Observation of the use of contemporary tools, techniques, standards and methods. Preparing technical documentation. Credit units: None. ECTS Credit units: 6, Prerequisite: CS 202.   </p>
            
        </div>
        <div class = "descriptonInfo">
            <h1>CS399 <br>Summer Training II Description: </h1>
            <p>
                Conducted in a company setting with involvement in real projects for a minimum of four weeks (20 working days). Application of knowledge and skills learned at school to solve engineering problems related to computer systems in the real-world. Familiarization with professional and ethical responsibility while working in multidisciplinary teams. Understanding the impact of engineering solutions in a global, economic, environmental and societal context. Learning to find relevant resources to access information. Observation of the use of contemporary tools, techniques, standards and methods. Preparing technical documentation. Credit units: None. ECTS Credit units: 6, Prerequisite: CS 202.   </p>
                
            </div>
    </div>
    </div>

    </div>

</body>

</html>