<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Description</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Global JS -->
    <script src="/js/GlobalSettings/global.js"></script>


    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/EvaluatorSidebarJS.js"
      type="text/javascript"
      defer
    ></script>
  </head>
<body style="display: none;">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>

    <div id="viewport">
        <!-- Sidebar -->
       
    <!-- Content -->
    <div class="container">

        
        <div class = "descriptonInfo">
        <h1>CS299 <br>Summer Training I Description: </h1>
        <p>Description:
            Conducted in a company setting with involvement in real projects for a minimum of four weeks (20 working days). Application of knowledge and skills learned at school to solve engineering problems related to computer systems in the real-world. Familiarization with professional and ethical responsibility while working in multidisciplinary teams. Understanding the impact of engineering solutions in a global, economic, environmental and societal context. Learning to find relevant resources to access information. Observation of the use of contemporary tools, techniques, standards and methods. Preparing technical documentation. Credit units: None. ECTS Credit units: 6, Prerequisite: CS 202.   </p>
            
        </div>
        <div class = "descriptonInfo">
            <h1>CS399 <br>Summer Training II Description: </h1>
            <p>
                Conducted in a company setting with involvement in real projects for a minimum of four weeks (20 working days). Application of knowledge and skills learned at school to solve engineering problems related to computer systems in the real-world. Familiarization with professional and ethical responsibility while working in multidisciplinary teams. Understanding the impact of engineering solutions in a global, economic, environmental and societal context. Learning to find relevant resources to access information. Observation of the use of contemporary tools, techniques, standards and methods. Preparing technical documentation. Credit units: None. ECTS Credit units: 6, Prerequisite: CS 202.   </p>
                
            </div>
    </div>
</div>
    </div>

    </div>

</body>

</html>