<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="AdminViewStudentJS.js"></script>

    <title>Admin View Students</title>
    <link rel="stylesheet" href="StyleAdminViewStudentList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha512-s1y7J05cB0Npr7VxTJ0ZmxYzZMvq3f+V8HDXDyJ7mE1v2AsmHtP+Gg6c0Z/5/5RbUB5A5/aZeNbjFy+mB0pJNw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Components -->
    <script src="/components/Navbar/defaultnavbar.js" type="text/javascript" defer></script>
    <script src="/components/Footer/footer.js" type="text/javascript" defer></script>
</head>

<body>
<!-- NAVIGATION MENUS -->
<defaultnavbar-component></defaultnavbar-component>
<studentnavbar-component></studentnavbar-component>

<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <ul class="nav">
            <li>
                <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentHomePage\StudentHomePage.html">
                    <i class="zmdi zmdi-view-dashboard"></i> Main Menu
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-link"></i> Course Descriptions
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-calendar"></i> Announcements
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-info-outline"></i> Summer Training Cooridnators
                </a>
            </li>
            <li>
                <a
                        href="/evaluator/student-list">
                    <i class="zmdi zmdi-comment-more"></i> View/Edit Student List
                </a>
            </li>
            <li>
                <a
                        href="/evaluator/student-list">
                    <i class="zmdi zmdi-comment-more"></i> View/Edit Evaluator List
                </a>
            </li>
            <li>
                <a
                        href="/evaluator/student-list">
                    <i class="zmdi zmdi-comment-more"></i> View/Edit Coordinator List
                </a>
            </li>
            <li>
                <a
                        href="/evaluator/student-list">
                    <i class="zmdi zmdi-comment-more"></i> View/Edit Company List
                </a>
            </li>
            <li>
                <a
                        href="/evaluator/student-list">
                    <i class="zmdi zmdi-comment-more"></i> View/Edit TA List
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-settings"></i> Add User
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-comment-more"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-settings"></i> Other
                </a>
            </li>

        </ul>
    </div>
</div>
<!-- Content -->
<!-- Content -->
<div class="container">
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Student by Name or ID">
    </div>

    <div class="table-responsive">
        <table class="table table-striped custom-table" id="grade-table">
            <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Student ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">View Info</th>
                <th scope="col">Edit User</th>
                <th scope="col">Delete User</th>
            </tr>
            </thead>
            <tbody>
            <!-- Table rows will be dynamically added here -->
            <tr scope="row">
                <td>
                    John Doe
                </td>
                <td>
                    22002572
                </td>
                <td>
                    CS299
                </td>
                <td><a
                        href="/evaluator/give-feedback">Click here for info</a></td>
                <td><a
                        href="/evaluator/give-feedback">Click to edit user</a></td>
                <td><a
                        href="/evaluator/give-feedback">Delete user</a></td>

            </tr>
            <tr scope="row">
                <td>
                    Fohn Doe
                </td>
                <td>
                    32002572
                </td>
                <td>
                    CS299
                </td>
                <td><a
                        href="/evaluator/give-feedback">Click here for info</a></td>
                <td><a
                        href="/evaluator/give-feedback">Click to edit user</a></td>
                <td><a
                        href="/evaluator/give-feedback">Delete user</a></td>

            </tr>
            <tr scope="row">
                <td>
                    Fohn Joe
                </td>
                <td>
                    32002572
                </td>
                <td>
                    CS299
                </td>
                <td><a
                        href="/evaluator/give-feedback">Click here for info</a></td>
                <td><a
                        href="/evaluator/give-feedback">Click to edit user</a></td>
                <td><a
                        href="/evaluator/give-feedback">Delete user</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

</body>
</html>