<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Coordinator Home</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/GlobalSettings/global.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/EvaluatorFeedbackPage/StyleEvaluatorFeedbackList.css" />

    <!-- JS -->
    <script src="/js/FinalGrade/FinalGrade.js" type="text/javascript"></script>
    ]
    <!-- Components -->

    <script src="/components/Navbar/defaultnavbar.js" type="text/javascript"></script>
    <script src="/components/Navbar/coordinatornavbar.js" type="text/javascript"></script>
    <script src="/components/Footer/footer.js" type="text/javascript"></script>
</head>

<body>
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>

    <div id="viewport">
        <!-- Sidebar -->
        <div>
            <!-- Content -->
            <table id="studentTable">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Company Evaluation Form Average</th>
                        <th>Related to Department</th>
                        <th>Supervisor Has Engineering Background</th>
                        <th>Work Quality</th>
                        <th>Sum of Evaluation Scores</th>
                        <th>Report Quality</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>

    </div>

</body>

</html>