<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/Home/HomePageJS.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/Home/StyleHome.css">
</head>
<body>
<h1>Welcome to my HTML page!</h1>
	<p>Today's date is </p>
<!-- NAVIGATION MENUS -->
<div class="topnav">
    <a class="logo">Bilkent Internship System</a>
    <div class="topnav-right">
        <a href="#Home">Home</a>
        <a href="#Announcement">Announcement</a>
        <a href="#Contact">Contact</a>
        <a href="#Language">Language</a>
        <a href="/student">Student</a>
    </div>
</div>

<div class="form">
<div class="login-page">
    <!--TODO -->
    <img src="/assets/logo.svg" alt="Bilkent Logo">

    <form>
        <p class="welcome"><a>Welcome to Bilkent Internship System</a></p>
        <p class="message"><a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\loginPages\GeneralLogin.html">Click to Log-in</a></p>

    </form>
    <div class="loggedin-message">
        <h1 class="form-heading">You are logged in!</h1>
        <h1 class="form-heading">Username: <span class="username-text"></span></h1>
        <button id="logout-button" class="form-button">Logout</button>
    </div>
    

    <div class="login-form">
        <h1 class="form-heading">Login</h1>
        <form style="margin-top: 20px;">
            <label for="studentId">Student ID:</label>
            <input type="text" id="login-studentId" name="studentId" required>
            
            <label for="password">Password:</label>
            <input type="password" id="login-password" name="password" required>
            
            <button id="login-button" class="form-button">Login</button>
          </form>
          <p class="login-response"></p>
    </div>

    <div class="register-form">
        <h1 class="form-heading">Regsiter</h1>
        <form style="margin-top: 20px;">
            <label for="studentId">Student ID:</label>
            <input type="text" id="register-studentId" name="studentId" required>
            
            <label for="password">Password:</label>
            <input type="password" id="register-password" name="password" required>
            
            <button id="register-button" class="form-button">Register</button>
          </form>
          <p class="register-response"></p>
    </div>
</div>
</div>
</body>
</html>