<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" href="StyleHome.css">
</head>
<body>

<!-- NAVIGATION MENUS -->
<div class="topnav">
    <a class="logo">Bilkent Internship System</a>
    <div class="topnav-right">
        <a href="#Home">Home</a>
        <a href="#Announcement">Announcement</a>
        <a href="#Contact">Contact</a>
        <a href="#Language">Language</a>
    </div>
</div>

<div class="form">
<div class="login-page">
    <img src="C:\Users\zeyne\WebstormProjects\CS319-Project\src\assets\Logos\Bilkent Logo BG Removed.svg"
         alt="Bilkent Logo">
    <form>
        <p class="welcome"><a>Welcome to Bilkent Internship System</a></p>
        <p class="message"><a href="#" onclick="redirectToLoginPage()">Click to Log-in</a></p>
    </form>
</div>
</div>
</body>
</html>