<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Report</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Global JS -->
    <script src="/js/GlobalSettings/global.js"></script>

    <!-- JS -->
    <script src="/js/CompanyList/CompanyList.js"></script>

    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/CompanyList/CompanyList.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
  </head>

  <body>
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>

    <div id="viewport" class="mt-5">
      <!-- Content -->
      <div class="container">
        <h2 class="mb-5">Companies</h2>
        <p>
          Your Company Not In the list?
          <button class="btn-primary ml-2">Add a new Company</button>
        </p>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">City</th>
                <th scope="col">Student Rating</th>
                <th scope="col">Evaluator Rating</th>
                <th scope="col">Accepted Depts.</th>
                <th scope="col">Sector</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row">
                <td>Disney World</td>
                <td>Ankara</td>
                <td>8/10</td>
                <td>5/10</td>
                <td>CS, IEE, COMD</td>
                <td>IT</td>
                <td><button class="btn-small">Apply</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
