<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <title>Admin View TAs</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Global Js -->
  <script src="/js/GlobalSettings/global.js"></script>

  <!-- JS -->
  <script src="/js/AdminViewTAList/AdminViewTAList.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/AdminViewTAList/AdminViewTAList.css" />

  <!-- Components -->
  <script src="/components/Navbar/defaultnavbar.js" type="text/javascript"></script>
  <script src="/components/Navbar/adminnavbar.js" type="text/javascript"></script>
  <script src="/components/Footer/footer.js" type="text/javascript"></script>
</head>

<body style="display: none">
  <!-- NAVIGATION MENUS -->
  <defaultnavbar-component></defaultnavbar-component>
  <admin-sidebar-component></admin-sidebar-component>

  <div id="viewport" class="mt-5">
    <!-- Evaluators Tables -->
    <div class="container">
      <h1>Evaluators</h1>
      <!-- Evaluators Search Box -->

      <div class="search-container">
        <input type="text" class="searchInput" id="ta-searchInput" placeholder="Search TAs by Name or ID" />
      </div>
      <!-- Evaluators Table -->
      <div class="table-responsive" style="overflow-y: scroll; height: 300px">
        <table class="table table-striped ta-table">
          <thead>
            <tr>
              <th scope="col">TA Name</th>
              <th scope="col">TA ID</th>
              <th scope="col">Assigned Students</th>
            </tr>
          </thead>
          <tbody id="tas-list">
            <!-- Table rows will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>