footer {
    height: 60px;
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #03414D;
  }
  p{
    justify-content: center;
  }

  ul {
    padding: 0;
  }
  
  ul li {
    list-style: none;
    display: inline;
  }
  
  a {
    margin: 0 15px;
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #333;
  }
  
  .social-row {
    font-size: 20px;
  }
  
  .social-row li a {
    margin: 0 15px;
  }