<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Admin Home</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- Components -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />
    <script src="/js/GlobalSettings/global.js"></script>
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
    ></script>
    <script
      src="/components/Navbar/adminnavbar.js"
      type="text/javascript"
    ></script>
    <script src="/components/Footer/footer.js" type="text/javascript"></script>
  </head>

  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <admin-sidebar-component></admin-sidebar-component>
    <!-- Content -->
    <div id="content"></div>
  </body>
</html>
