<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Report</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- JS -->
    <script src="/js/StudentInternshipCompany/StudentInternshipCompany.js"></script>

    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentInternshipCompany/StudentInternshipCompany.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/EvaluatorSidebarJS.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
  </head>

  <body>
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>

    <div id="viewport" class="mt-5">
      <!-- Content -->
      <div class="container">
        <div class="container">
          <h1 class="mb-5">Your Current Internship Company Details</h1>

          <!-- Reports Table -->
          <div class="table-responsive">
            <table
              class="table table-striped current-internship-company-details-reports-table"
            >
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">City</th>
                  <th scope="col">Email</th>
                  <th scope="col">Sector</th>
                  <th scope="col">Acceptance Letter</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody id="current-internship-company-details-reports-list">
                <!-- Table rows will be dynamically added here -->
              </tbody>
            </table>
          </div>
        </div>
        <p
          class="alert-danger remove-internship-company-response"
          role="alert"
        ></p>

        <div class="container register-company" style="width: 50%; margin: 0px">
          <div class="row">
            <div class="">
              <label for="companyName">Company Name (required)</label>
              <input
                type="text"
                class="form-control"
                id="companyName"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="">
              <label for="companyEmail">Company Email (required)</label>
              <input
                type="text"
                class="form-control"
                id="companyEmail"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="">
              <label for="companyCity">Company City</label>
              <input type="text" class="form-control" id="companyCity" />
            </div>
          </div>
          <div class="row">
            <div class="">
              <label for="companySector">Company Sector</label>
              <input type="text" class="form-control" id="companySector" />
            </div>
          </div>
          <div class="row">
            <div class="">
              <label for="company-acceptance-letter-input"
                >Company Acceptance Letter (PDF)</label
              >
              <input
                type="file"
                class="form-control"
                id="company-acceptance-letter-input"
                accept=".pdf"
                style="height: 44px"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="">
              <button
                onclick="registerInternshipCompany()"
                class="btn btn-primary"
              >
                Register
              </button>
              <p
                class="alert-danger register-internship-company-response"
                role="alert"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
