<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SummerTrainingCoordinators</title>
    <link rel="stylesheet" href="SummerTrainingCoordinators.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-s1y7J05cB0Npr7VxTJ0ZmxYzZMvq3f+V8HDXDyJ7mE1v2AsmHtP+Gg6c0Z/5/5RbUB5A5/aZeNbjFy+mB0pJNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- NAVIGATION MENUS -->
    <div class="topnav">
        <a class="logo">Bilkent Internship System</a>
        <div class="topnav-right">
            <!--TODO-->
            <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\homePages\Home.html">Home</a>
            <a href="#Announcement">Announcement</a>
            <a href="#Contact">Contact</a>
            <a href="#Language">Language</a>
        </div>
    </div>


    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <ul class="nav">
                <li>
                    <a
                        href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentHomePage\StudentHomePage.html">
                        <i class="zmdi zmdi-view-dashboard"></i> Main Menu
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-link"></i> Course Descriptions
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-widgets"></i> Courses
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-calendar"></i> Announcements
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-info-outline"></i> Summer Training Cooridnators
                    </a>
                </li>
                <li>
                    <a
                      href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentReportsPage\StudentUploadReport.html">
                      <i class="zmdi zmdi-comment-more"></i> View Students List / <br> /Give Feedback / Grade Student
                    </a>
                  </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-comment-more"></i> Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i> Other
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- Content -->
    <div class="container">

        
        <div class = "coordinatorInfo">
            <div>
                <img src = "http://www.cs.bilkent.edu.tr/~s.rahimzadeh/SRA.jpeg" style="width: 250px; height: 255px;">
                <h1>Shervin Arashloo</h1>
                <h2>Assistant Professor</h2>
                <p>Computer Engineering</p>
                <br>
                <br>
                <p>Office Phone:<br>+90 (312) 290 3440</p>
            </div>
            <div class="coordinatorBetween">
                <img src="https://media.licdn.com/dms/image/C4D03AQEIiK2QIceY_g/profile-displayphoto-shrink_200_200/0/1541623936883?e=1690416000&v=beta&t=Kre-x1LFkSlapOaH0Nioh1hhK9KSS4BWyYkKnqguu48" style="width: 250px;" >
                <h1>Özgür S. Oğuz</h1>
                <h2>Assistant Professor</h2>
                <p>Computer Engineering</p>
                <br>
                <br>
                <p>Office Phone:<br>+90 (312) 290 3398</p>
            </div>
        </div>
        
    </div>
    </div>

    </div>

</body>

</html>