<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coordinators</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />

    <!-- Components -->
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/studentnavbar.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Navbar/EvaluatorSidebarJS.js"
      type="text/javascript"
      defer
    ></script>
    <script
      src="/components/Footer/footer.js"
      type="text/javascript"
      defer
    ></script>
  </head>

  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <student-sidebar-component></student-sidebar-component>
    <evaluator-sidebar-component></evaluator-sidebar-component>

    <div id="viewport">
    
    <!-- Content -->
    <div class="container">

        
        <div class = "coordinatorInfo">
            <div>
                <img src = "http://www.cs.bilkent.edu.tr/~s.rahimzadeh/SRA.jpeg" style="height: 150px; ">
                <h1>Shervin Arashloo</h1>
                <h2>Assistant Professor</h2>
                <p>Computer Engineering</p>
                <a href="http://www.cs.bilkent.edu.tr/~s.rahimzadeh/">Personal Page </a>
                <br>
                <p>Office Phone:<br>+90 (312) 290 3440</p>
            </div>
            <div class="coordinatorBetween">
                <img src="https://media.licdn.com/dms/image/C4D03AQEIiK2QIceY_g/profile-displayphoto-shrink_200_200/0/1541623936883?e=1690416000&v=beta&t=Kre-x1LFkSlapOaH0Nioh1hhK9KSS4BWyYkKnqguu48" style="height: 146px;" >
                <h1>Özgür S. Oğuz</h1>
                <h2>Assistant Professor</h2>
                <p>Computer Engineering</p>
                <a href="https://oz-oguz.github.io/">Personal Page </a>
                <br>
                <p>Office Phone:<br>+90 (312) 290 3398</p>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>

</body>

</html>