@import url(https://fonts.googleapis.com/css?family=Roboto:300);

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

#container {
    width: 100%;
    position: relative;
    margin-right: 10px;
    padding-top: 4em;
}

