<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-- Global Settings -->
  <script src="/js/GlobalSettings/global.js"></script>
  <link
          rel="stylesheet"
          type="text/css"
          href="/css/GlobalSettings/global.css"
  />


  <!-- CSS-->
  <link
          rel="stylesheet"
          type="text/css"
          href="/css/StudentHome/StyleStudentHome.css"
  />

  <!-- Components -->
  <script
          src="/components/Navbar/defaultnavbar.js"
          type="text/javascript"
          defer
  ></script>
  <script
          src="/components/Navbar/studentnavbar.js"
          type="text/javascript"
          defer
  ></script>
  <script
          src="/components/Navbar/EvaluatorSidebarJS.js"
          type="text/javascript"
          defer
  ></script>
  <script
          src="/components/Navbar/adminnavbar.js"
          type="text/javascript"
          defer
  ></script>
  <script
          src="/components/Navbar/TaSidebar.js"
          type="text/javascript"
          defer
  ></script>
  <script
          src="/components/Footer/footer.js"
          type="text/javascript"
          defer
  ></script>
</head>
<body style="display: none;">
<!-- NAVIGATION MENUS -->
<defaultnavbar-component></defaultnavbar-component>
<student-sidebar-component></student-sidebar-component>
<evaluator-sidebar-component></evaluator-sidebar-component>
<ta-sidebar-component></ta-sidebar-component>
<coordinator-sidebar-component></coordinator-sidebar-component>
<admin-sidebar-component></admin-sidebar-component>

<div id="viewport">
  <!-- Sidebar -->

  <!-- Content -->
  <div class="container">


    <div style= " margin-left: 50px; margin-top: 80px;" class = "descriptonInfo">
      <h1  style=" color: black;">Mails</h1>
      <p>You may contact the following administrative assistants by email for matters regarding
        the Summer Training application process at mfstaj</p>
      <a>staj@cs.bilkent.edu.tr<br></a>
      <a>mfstaj@bilkent.edu.tr<br>mf@bilkent.edu.tr</a>
      <h1  style=" color: black;">Contact People</h1>
      <a>İlkan Sara  Phone: 2902354
        <br><br>
        Gizem Ballı   Phone: 2901261<br><br>
        Shervin Arashloo
        ASSISTANT PROFESSOR
        Computer Engineering

        Office Phone:
        +(90) (312) 290 3440<br><br>Özgür S. Oğuz
        ASSISTANT PROFESSOR
        Computer Engineering

        Office Phone:
        +(90) (312) 290 3398

        <br><br>
        Aykut Koç
        ASSISTANT PROFESSOR
        Electrical & Electronics Engineering

        Office Phone:
        +(90) (312) 266 1477
        <br><br>
        Y. Ziya İder
        PROFESSOR
        Electrical & Electronics Engineering

        Office Phone:
        +(90) (312) 290 2339
        <br><br>
        Özlem Çavuş
        ASSOCIATE  PROFESSOR
        Industrial Engineering

        Office Phone:
        +(90) (312) 290 1264
        <br><br>
        NİL ŞAHİN
        INSTRUCTOR
        Industrial Engineering

        Office Phone:
        +(90) (312) 290 3442
        <br><br>
        Şakir Baytaroğlu
        LABORATORY COORDINATOR
        Mechanical Engineering

        Office Phone:
        +(90) (312) 266 3067
      </a>

      <a><br><br> For other matters regarding<br>
        <li>Departmental policies</li>
        <li>Company approvals</li>
        <li>Training on-line or abroad</li>
        <li>What to expect from summer training</li>
        <li>Summer practice reports</li>
        <li>etc.</li>
        you need to contact the Department coordinators or Department administrative assistants</a>
    </div>
  </div>
</div>
</div>

</div>

</body>

</html>