<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <title>Evaluator Home</title>
  <link rel="stylesheet" href="/css/EvaluatorHomePage/SStyleEvaluatorHome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-s1y7J05cB0Npr7VxTJ0ZmxYzZMvq3f+V8HDXDyJ7mE1v2AsmHtP+Gg6c0Z/5/5RbUB5A5/aZeNbjFy+mB0pJNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<!-- NAVIGATION MENUS -->
<div class="topnav">
  <a class="logo">Bilkent Internship System</a>
  <div class="topnav-right">
    <!--TODO-->
    <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\homePages\Home.html">Home</a>
    <a href="#Announcement">Announcement</a>
    <a href="#Contact">Contact</a>
    <a href="#Language">Language</a>
  </div>
</div>


<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <ul class="nav">
      <li>
        <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentHomePage\StudentHomePage.html">
          <i class="zmdi zmdi-view-dashboard"></i> Main Menu
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-link"></i> Course Descriptions
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-widgets"></i> Courses
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-calendar"></i> Announcements
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-info-outline"></i> Summer Training Cooridnators
        </a>
      </li>
      <li>
        <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentReportsPage\StudentUploadReport.html">
          <i class="zmdi zmdi-comment-more"></i> View Students
        </a>
      </li>
      <li>
        <a href="C:\Users\zeyne\WebstormProjects\CS319-Project\src\view\Student\StudentReportsPage\StudentViewReport.html">
          <i class="zmdi zmdi-comment-more"></i> Give Feedback
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-comment-more"></i> Grade Student
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-comment-more"></i> Profile
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-settings"></i> Other
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- Content -->
<div id="content">

</div>

</body>
</html>