<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Admin Add/Delete Users</title>
    <link rel="stylesheet" href="/css/AdminAddUser/StyleAdminAddUser.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- JS -->
    <script src="/js/AdminAddUser/AdminAddUserJS.js"></script>
    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- Components -->
    <script src="/js/GlobalSettings/global.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/AdminAddUser/StyleAdminAddUser.css"
    />
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
    ></script>
    <script
      src="/components/Navbar/coordinatornavbar.js"
      type="text/javascript"
    ></script>
    <script
      src="/components/Navbar/adminnavbar.js"
      type="text/javascript"
    ></script>

    <script src="/components/Footer/footer.js" type="text/javascript"></script>
  </head>
  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <admin-sidebar-component></admin-sidebar-component>
    <coordinator-sidebar-component></coordinator-sidebar-component>
    <!-- Content -->
    <div id="container">
      <div id="viewport">
        <h2>Add User</h2>

        <div class="form-row">
          <label for="userId">User ID: <a id="star">*</a></label>
          <input type="text" id="userId" name="userId" required />
        </div>

        <div class="form-row">
          <label for="userEmail">Email: <a id="star">*</a></label>
          <input type="text" id="userEmail" name="userEmail" required />
        </div>

        <div class="form-row">
          <label for="userFullname">Full Name: <a id="star">*</a></label>
          <input type="text" id="userFullname" name="userFullname" required />
        </div>

        <div class="form-row">
          <label for="userDepartment"
            >Department: (Shortcode) <a id="star">*</a></label
          >
          <select id="userDepartment">
            <option value="" disabled selected>Please Select</option>
            <option value="CS">CS</option>
            <option value="EE">EE</option>
            <option value="COMD">COMD</option>
          </select>
        </div>

        <label for="userType">User Type: <a id="star">*</a></label>
        <div id="checkbox-container">
          <label>
            <input
              class="input-width"
              type="radio"
              name="userType"
              value="student"
              required
            />
            Student
          </label>
          <label>
            <input
              class="input-width"
              type="radio"
              name="userType"
              value="evaluator"
            />
            Evaluator
          </label>
          <label>
            <input
              class="input-width"
              type="radio"
              name="userType"
              value="ta"
            />
            TA
          </label>
          <label>
            <input
              class="input-width"
              type="radio"
              name="userType"
              value="admin"
            />
            Admin
          </label>
          <label>
            <input
              class="input-width"
              type="radio"
              name="userType"
              value="coordinator"
            />
            Coordinator
          </label>
        </div>
        <button class="btn btn-primary" onclick="addUser()">
          Add User and Send Email to User with Password
        </button>
        <p class="add-user-response"></p>

        <div class="mt-5"></div>
        <h2>Delete User</h2>
        <div class="form-row">
          <label for="userId-delete">User ID: <a id="star">*</a></label>
          <input type="text" id="userId-delete" name="userId" required />
        </div>
        <button class="btn btn-danger" onclick="deleteUser()">
          Delete User
        </button>
        <p class="delete-user-response"></p>
      </div>
    </div>
  </body>
</html>
