<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Admin View Students</title>
    <link rel="stylesheet" href="/css/AdminAddUser/StyleAdminAddUser.css" />
    <script src="/js/AdminAddUser/AdminAddUserJS.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-s1y7J05cB0Npr7VxTJ0ZmxYzZMvq3f+V8HDXDyJ7mE1v2AsmHtP+Gg6c0Z/5/5RbUB5A5/aZeNbjFy+mB0pJNw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Global Settings -->
    <script src="/js/GlobalSettings/global.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/GlobalSettings/global.css"
    />

    <!-- Components -->
    <script src="/js/GlobalSettings/global.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/StudentHome/StyleStudentHome.css"
    />
    <script
      src="/components/Navbar/defaultnavbar.js"
      type="text/javascript"
    ></script>
    <script
      src="/components/Navbar/adminnavbar.js"
      type="text/javascript"
    ></script>
    <script src="/components/Footer/footer.js" type="text/javascript"></script>
  </head>
  <body style="display: none">
    <!-- NAVIGATION MENUS -->
    <defaultnavbar-component></defaultnavbar-component>
    <admin-sidebar-component></admin-sidebar-component>

    <!-- Content -->
    <div id="container">
      <h2>Add User</h2>
      <div class="form-row">
        <label for="userName">User Name: <a id="star">*</a></label>
        <input type="text" id="userName" name="userName" required />
      </div>

      <div class="form-row">
        <label for="userSurname">User Surname: <a id="star">*</a></label>
        <input type="text" id="userSurname" name="userSurname" required />
      </div>

      <div class="form-row">
        <label for="userId">User ID: <a id="star">*</a></label>
        <input type="text" id="userId" name="userId" required />
      </div>

      <label for="userType">User Type: <a id="star">*</a></label>
      <div id="checkbox-container">
        <label>
          <input
            class="input-width"
            type="radio"
            name="userType"
            value="student"
            required
          />
          Student
        </label>
        <label>
          <input
            class="input-width"
            type="radio"
            name="userType"
            value="evaluator"
          />
          Evaluator
        </label>
        <label>
          <input class="input-width" type="radio" name="userType" value="ta" />
          TA
        </label>
        <label>
          <input
            class="input-width"
            type="radio"
            name="userType"
            value="admin"
          />
          Admin
        </label>
        <label>
          <input
            class="input-width"
            type="radio"
            name="userType"
            value="coordinator"
          />
          Coordinator
        </label>
      </div>

      <br /><br />
      <button class="btn btn-primary">Add User</button>
      <button class="btn send-email" onclick="sendUserEmail()">
        Send Email with Password to User
      </button>
      <p class="add-user-response"></p>

      <h2>Delete User</h2>

      <div class="form-row">
        <label for="userId-delete">User ID: <a id="star">*</a></label>
        <input type="text" id="userId-delete" name="userId" required />
      </div>

      <br /><br />
      <button class="delete-user">Delete User</button>
      <p class="delete-user-response"></p>
    </div>
  </body>
</html>
