@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topnav {
    overflow: hidden;
    align-items: center;
    background: #03414D;
    padding: 0.7em 0 0;
    max-width: 100%;
    max-height: 100%;
}
.logo{
    font-size: 1.1em;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 0px 1em 0.3em;
    text-decoration: none;
    font-size: 1.1em;
}

/* Change the color of links on hover */
.topnav-right a:hover {
    border-radius: 4px;
    color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}
#container {
    padding-left: 20em;
}
/* Sidebar Styles */

#sidebar {
    position: fixed;
    max-width: fit-content;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #181818;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar .nav {
    list-style: none;
    margin: 0;
    padding: 1em 0 0 0;
}

#sidebar .nav a {
    display: inline-block;
    background: none;
    color: white;
    font-size: 14px;
    padding: 1em 1.4em 0.5em 1em;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    align-self: flex-end;
}

#sidebar .nav a:hover {
    background: none;
    color: #ECEFF1;
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-1em); }
    100% { transform: translateY(0); }
}

#sidebar .nav a i {
    margin-right: 16px;
}
/* Existing styles */

/* User Type Checkboxes */
.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.checkbox-container label {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="radio"] {
    margin-right: 0.5em;
}

.checkbox-container input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-right: 0.5em;
    vertical-align: middle;
    transform: translateY(-20%);
    cursor: pointer;
}

.checkbox-container input[type="radio"]:checked::before {
    background-color: #03414D;
    border-color: #03414D;
}

.checkbox-container input[type="radio"]:hover::before {
    border-color: #666;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.form-row label {
    flex: 0 0 150px; /* Adjust the width as needed */
    margin-right: 1em;
}


#star {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: firebrick;
}