@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    max-width: 100%;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: #03414D;
    padding-top: 10px;
    z-index: 100; /* Ensure the navbar is above other elements */
}
.logo{
    font-size: 1.2em;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

/* Change the color of links on hover */
.topnav-right a:hover {
    border-radius: 4px;
    color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
.login-page img {
    position: relative;
    align-content: center;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
}

body {
    background: #03414D; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    font-family: "Roboto", sans-serif;
    background-color:#03414D;
    height: max-content;
    color: #fff;
    padding: 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
  }
  
  button:hover {
    background-color: #276769;
  }